/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  --foreground: black;
  --foreground-secondary: #595959;
  --background: white;
  --background-higher: #d2d2d2;
  --background-lower: var(--background-higher);
  --lines: #b6b6b6;
  --primary: #366120;
  --secondary: yellow;
  --positive-green: #91ff91;
  --warning-foreground: #595900;
  --warning-background: #ffff91;
  --error-foreground: #c00;
  --error-background: #ffe1e6;

  color: var(--foreground);
  height: 100vh;
  width: 100vw;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--primary);
  text-shadow: none;
}

::selection {
  background: var(--primary);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--lines);
  margin: 1rem 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  width: 100%;
}

body {
  font-family: sans-serif;
  background: var(--background-lower);
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

body > * {
  background: revert;
}

/* show default language */
[lang] {
  display: none;
}

[lang=en] {
  display: revert;
}

:focus-visible {
  border: solid var(--primary);
  border-radius: .5em;
}

header, footer {
  box-sizing: border-box;
  padding: .75rem 1rem;
  width: 100%;
}

header {
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  height: 4.5rem;
  display: flex;
  align-items: center;
  background: var(--primary);
  color: white;
}

header * {
  font-weight: bold;
  font-size: 2rem;
}

header > *:not(:last-child) {
  margin-right: 1rem;
}

footer {
  text-align: center;
  color: var(--foreground-secondary);
  background: var(--background-lower);
}

h1 * {
  font-weight: bold;
}

main {
  padding: 4.5rem 0 0;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main > * {
  border-radius: .5rem;
  background: var(--background);
  margin: 1rem auto 0;
  box-sizing: border-box;
}

main > :not(.hidden):last-child {
  margin-bottom: 2rem;
}

article, .notification {
  padding: .75rem 1rem;
  max-width: 50rem;
  width: 100%;
}

article h2 {
  margin: 0;
  border-bottom: solid 1px var(--lines);
  padding-bottom: .75rem;
}

details {
  background: var(--background-lower);
  border-radius: .5rem;
  padding: .5rem 1rem;
}

details:focus-visible {
  border: none;
  border-bottom: solid var(--primary);
}

p {
  line-height: 1.5em;
}

form {
  text-align: right;
}

label {
  font-weight: bold;
}

input[type=file] {
  color: var(--foreground-secondary);
}

input[type=submit], button {
  background: linear-gradient(45deg, var(--primary), #34cec0);
  color: white;
  font-weight: bold;
  border-radius: 2.33rem;
  padding: .66rem 1rem;
  border: none;
}

input[type=submit]:hover, button:hover {
  box-shadow: 0 0 1rem var(--primary);
}

input[type=submit]:focus-visible, button:focus-visible {
  border: solid var(--secondary);
}

input[type=submit]:active, button:active {
  background: var(--primary);
  border: none;
}

#upload-form > * {
  margin: .5rem 0;
}

.file-upload-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .75rem;
}

.file-upload {
  text-align: center;
  background: var(--background-higher);
  border-radius: 1rem;
  padding: .66rem 1rem;
  overflow: hidden;
}

.file-upload.file-selected {
  background: var(--positive-green);
}

.file-upload.file-dropping {
  box-shadow: 0 0 1rem var(--primary);
}

.file-upload *:not(:last-child) {
  margin-bottom: .5rem;
}

.search {
  display: flex;
  align-items: center;
}

input[type=search] {
  border: none;
  border-radius: 0;
  border-bottom: solid white;
  background: none;
  color: white;
  padding: 0 .25rem;
  min-width: 10rem;
  width: 100%;
  flex-shrink: 2;
}

input[type=search].error, input[type=search]:invalid {
  border-bottom-color: var(--error-foreground);
  background: var(--error-background);
  color: var(--error-foreground);
}

input[type=search]:focus {
  outline: none;
  border-bottom-color: var(--primary);
}

.search input[type=submit] {
  background: none;
  padding: revert;
  border-radius: 0;
}

.search input[type=submit]:hover {
  box-shadow: none;
  text-shadow: 0 0 1rem var(--primary);
}

button:hover, input[type=submit]:hover, input[type=file] {
  cursor: pointer;
}

table {
  overflow-x: auto;
  display: block;
  border-collapse: collapse;
}

th, td {
  padding: .33rem .5rem;
  border: var(--lines) solid 1px;
}

tr:nth-child(2n) {
  background: var(--background-higher);
}

caption {
  font-weight: bold;
  margin-bottom: .5rem;
}

.table-layout tr {
  background: none;
}

.full-screen {
  width: 100%;
  height: 100%;
}

#family-tree {
  flex-grow: 2;
  margin-bottom: 0;
}

.warning {
  color: var(--warning-foreground);
  background: var(--warning-background);
  border-color: var(--warning-foreground);
}

.error {
  color: var(--error-foreground);
  background: var(--error-background);
  border-color: var(--error-foreground);
}

/* Fixes emojis being monochromatic rather than colored on Microsoft Edge */
.emoji {
  font-weight: normal !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35rem) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media (prefers-color-scheme: light) {
  html {
    --foreground: black;
    --foreground-secondary: #595959;
    --background: white;
    --background-higher: #d2d2d2;
    /* TODO maybe find a better value */
    --background-lower: var(--background-higher);
    --lines: #b6b6b6;
    --positive-green: #91ff91;
    --warning-foreground: #595900;
    --warning-background: #ffff91;
    --error-foreground: #c00;
    --error-background: #ffe1e6;
  }

  ::selection {
    color: var(--background)
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --foreground: #ececec;
    --foreground-secondary: #d0d0d0;
    --background: #2b2b2b;
    --background-higher: #4f4f4f;
    --background-lower: #1a1a1a;
    --lines: #797979  ;
    --positive-green: #126912;
    --warning-foreground: #ffff91;
    --warning-background: #595900;
    --error-foreground: #ffc4c4;
    --error-background: #710000;
  }
  body {
    background: black;
  }
  a {
    color: #8585ff;
  }
  a:visited {
    color: violet;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

