svg {
  --male: #9bcfec;
  --female: #ff9494;
  border: solid var(--background);
}

#family-tree polyline {
  stroke: var(--foreground);
}

#family-tree marker {
  fill: var(--foreground);
}

#family-tree text {
  fill: var(--foreground);
  font-size: 14px;
  text-anchor: middle;
  stroke: none;
}

.link {
  fill: none;
}

.etc, .partnerNode {
  fill: var(--background);
  stroke: var(--foreground);
  text-anchor: middle;
  cursor: pointer;
}

#family-tree .partnerNode.locked {
  cursor: not-allowed;
}

#family-tree .infoBackground {
  fill: var(--background);
}

#family-tree #background {
  fill: transparent;
  stroke: none;
}

/* stuff for the html nodes */

.person {
  color: var(--foreground);
  overflow: visible;
  cursor: pointer;
}

.person:active {
  cursor: grabbing;
}

.person p {
  font-size: 14px;
  margin: .1rem;
  text-align: center;
}

.person .addNames, .person .years {
  font-weight: 300;
}

.person .years {
  font-style: italic;
}

.person .bg {
  border-radius: 1rem;
  border-style: solid;
  border-width: .25rem;
}

.person.female .bg {
  background-color: var(--female);
  border-color: var(--female);
}

.person.male .bg {
  background-color: var(--male);
  border-color: var(--male);
}

.person.unknown .bg {
  border: var(--lines) solid;
}

.person.focused .bg {
  box-shadow: 0 0 1rem var(--primary);
}

.person.dead .bg {
  background-color: var(--background);
}

.person .text-bg {
  background: var(--background-higher);
  border-radius: .75rem;
  padding: .25rem;
}

.person td, .person th {
  border: none;
  padding: .2rem .3rem;
}

@media (prefers-color-scheme: light) {
  svg {
    --male: #9bcfec;
    --female: #ff9494;
  }
}

@media (prefers-color-scheme: dark) {
  svg {
    --male: #254579;
    --female: #911c1c;
    background: black;
  }
  .person:not(.dead) .text-bg {
    background: var(--background);
  }
}
