svg {
  --foreground: black;
  --background: white;
  --background-secondary: white;
  --male: #9bcfec;
  --female: #ff9494;
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  svg {
    --foreground: #e1e1e1;
    --background: black;
    --male: #3f5a86;
    --female: #9d2626;
    --background-secondary: #343434;
  }
}

path {
  stroke: var(--foreground);
  stroke-width: 2px;
}

marker {
  fill: var(--foreground);
}

.link {
  marker-end:url(#Arrow2Lend);
}

.männlich {
  fill: var(--male);
}

.weiblich {
  fill: var(--female);
}

.dead {
  fill: var(--background);
  stroke-width: 4;
}

.männlich.dead {
  stroke: var(--male);
}

.weiblich.dead {
  stroke: var(--female)
}

.partnerNode {
  fill: var(--background);
  stroke: var(--foreground);
  stroke-width: 2;
}

.group {
  fill: var(--background);
  stroke: var(--foreground);
}

.etc {
  fill: var(--background);
  stroke: var(--foreground);
  stroke-width: 2;
  text-anchor: middle;
}

.infoBackground {
  fill: var(--background);
}

text {
  fill: var(--foreground);
  font-size: 14px;
  text-anchor: middle;
  stroke: none;
}

/* stuff for the inner html */

.info {
  color: var(--foreground);
}

.info h1, .info h2, .info h3, .info text {
  font-size: 14px;
  line-height: 1em;
  margin: .5em;
}

.info h1, .info h2, .info h3 {
  text-align: center;
}

.info h1 {
  margin-top: 1;
}

.info h2, h3 {
  font-weight: 300;
}

.info h3 {
  font-style: italic;
}

.info #bg {
  border-radius: 15px;
  padding: 5px;
}

.dead #bg {
  border-width: 4px;
  border-style: solid;
}

.info.männlich #bg {
  background-color: var(--male);
}

.info.männlich.dead #bg {
  background-color: var(--background);
  border-color: var(--male);
}

.info.weiblich #bg {
  background-color: var(--female);
}

.info.weiblich.dead #bg {
  background-color: var(--background);
  border-color: var(--female);
}

.info #text-bg {
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 5px;
}
