article, .notification {
  padding: .75rem 1rem;
  max-width: 50rem;
  width: 100%;
}

article h1 {
  font-size: 2em;
  margin: 0;
  border-bottom: solid 1px var(--lines);
  padding-bottom: .75rem;
}

article > div {
  padding: .5rem 0;
}

aside ul, aside ol {
  padding-left: 1rem;
}

article :first-child {
  margin-top: 0;
}

article :last-child {
  margin-bottom: 0;
}

details {
  background: var(--background-lower);
  border-radius: .5rem;
  padding: .5rem 1rem;
}

details:focus-visible {
  border: none;
  border-bottom: solid var(--primary);
}

/* src: https://stackoverflow.com/questions/38213329/how-to-add-css3-transition-with-html5-details-summary-tag-reveal */
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}

p {
  line-height: 1.5em;
}

kbd {
  border-bottom: solid var(--foreground-secondary) .15rem;
  border-radius: .5rem;
  padding: .1rem .3rem;
  background: var(--background-higher);
}
