form {
  text-align: right;
}

form > * {
  margin: .5rem 0;
}

label {
  font-weight: bold;
}

input[type=file] {
  color: var(--foreground-secondary);
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .75rem;
}

input[type=submit], button, .button {
  background: linear-gradient(45deg, var(--primary), #34cec0);
  color: white;
  font-weight: bold;
  border-radius: 2.33rem;
  padding: .66rem 1rem;
  margin-left: 1rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: inline-block;
}

.button:visited {
  color: inherit;
}

.button.inline, button.inline {
  padding: .33em 1em;
}

.button.inactive, button.inactive, input[type=submit].inactive {
  background: var(--background);
  color: var(--primary);
  font-weight: normal;
  border: solid var(--primary) 2pt;
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  .button.inactive {
    color: var(--foreground);
  }
}

.button.inactive:active, button.inactive:active {
  color: white;
}

input[type=submit], .button, button, .card {
  transition: box-shadow .5s, scale .2s;
}

input[type=submit]:hover, .button:not(select):hover, button:hover, .focused {
  box-shadow: 0 0 1rem var(--primary);
  scale: 1.06;
}

input[type=submit]:focus-visible, .button:focus-visible, button:focus-visible {
  border: solid var(--secondary);
}

input[type=submit]:active, button:active, .button:not(select):active {
  background: var(--primary);
  scale: 1.04;
}

.search {
  display: flex;
  align-items: center;
  max-width: 30rem;
  margin: auto;
}

input[type=search] {
  border-radius: 1.5em;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 0 .75em;
  min-width: 10rem;
  width: 100%;
  flex-shrink: 2;
}

input[type=search].error, input[type=search]:invalid {
  border-bottom-color: var(--error-foreground);
  background: var(--error-background);
  color: var(--error-foreground);
}

input[type=search]:focus {
  outline: none;
  border-bottom-color: #55d64e;
}

.search input[type=submit] {
  background: none;
  padding: revert;
  border-radius: 0;
}

.search input[type=submit]:hover {
  box-shadow: none;
  text-shadow: 0 0 1rem var(--primary);
}

.card {
  text-align: center;
  background: var(--background-higher);
  border-radius: 1rem;
  padding: .66rem 1rem;
  margin-left: auto;
  margin-right: auto;
}

.file-selected {
  background: var(--positive-green);
}

.file-upload *:not(:last-child) {
  margin-bottom: .5rem;
}

.icon-only {
  background: none;
  padding: 0;
  border: none;
  margin: 0;
}
