header {
  padding: .75rem 1rem;
  z-index: 1;
}

header {
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  background: var(--primary);
  color: white;
  grid-area: header;
}

header ::selection {
  background: #55d64e;
}

header * {
  font-weight: bold;
  font-size: 2rem;
}

header div {
  flex-grow: 2;
}

header > *:not(:last-child) {
  margin-right: 1rem;
}

.icon-only {
  background: none;
  padding: 0;
  border: none;
}
