header {
  padding: .25rem 1rem;
  z-index: 1;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.33);
  display: flex;
  align-items: center;
  background: var(--primary);
  color: white;
  grid-area: header;
  gap: 1rem;
}

header ::selection {
  background: #55d64e;
}

header * {
  font-weight: bold;
  font-size: 2rem;
}

header div {
  flex-grow: 2;
}

header input {
  margin: 0;
  font-size: 1.5rem;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
}
