article.gallery {
  padding: 0;
  z-index: 0;
  position: relative;
  box-shadow: none;
}

article.gallery div {
  box-shadow: inset 0 .25rem .25rem rgba(0, 0, 0, .33);
  border-radius: 1rem;
  z-index: 0;
}

.gallery img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  /* z-index is needed for shadow  effect */
  z-index: -1;
}

.credits {
  padding-top: .25rem;
  padding-bottom: .25rem;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: .75rem;
  z-index: 1;
}

.gallery .buttons {
  position: absolute;
  bottom: .5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 1em;
  box-sizing: border-box;
}

.gallery .buttons button {
  margin: 0;
  font-size: .75rem;
}

#confidence {
  flex-grow: 2;
  text-align: center;
}
