.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: .25rem;
  max-width: 20rem;
  height: 100%;
  margin: 0 auto;

  accent-color: var(--primary);
}

.loading label {
  text-align: center;
}
