main#stats {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row dense;
  justify-items: stretch;
  gap: 1rem;
}

#stats .graph {
  margin: 0;
  border-radius: 1rem;
  padding: 1rem;
}

.graph svg {
  display: block;
  margin: auto;
}

#stats .graph h1:first-child {
  margin-top: 0;
}

#last-names svg tspan {
  fill: white;
  font-size: .8rem;
  font-weight: bold;
}
