main#stats {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(225px + 2rem), 1fr));
  grid-auto-columns: minmax(1fr, 4fr);
  grid-auto-flow: dense;
  justify-items: stretch;
  gap: 1rem;
}

#stats > * {
  margin: 0;
}

.graph svg {
  display: block;
  margin: auto auto .5rem;
}

article .visx-legend {
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  .visx-axis tspan {
    fill: white;
  }

  .visx-axis line {
    stroke: white;
  }

  path.visx-arc, line.visx-line {
    stroke: gray;
  }
}

article.landscape {
  grid-column-end: span 2;
}
