main#stats {
  padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 1rem;
}

#stats .graph {
  margin: 0;
  height: max-content;
  border-radius: 1rem;
  padding: 1rem;
}

#stats .graph h1:first-child {
  margin-top: 0;
}
