@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: grid;
  gap: 0;
  justify-content: space-between;
  grid-template-columns: 1fr;

  background: var(--background);
  font-family: "Nunito", sans-serif;
}

#root > * {
  width: 100%;
  box-sizing: border-box;
}

main {
  grid-area: main;
  background: var(--background-lower);
}

main > * {
  background: var(--background);
  margin: 1rem auto 0;
  box-sizing: border-box;
}

@media (orientation: portrait) {
  #root {
    grid-template-areas:
    "header"
    "sidebar"
    "main"
    "footer";
    grid-template-rows: auto auto 1fr auto;
  }
}

@media (orientation: landscape) {
  #root {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
  }

  #root.sidebar-visible {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar footer";
  }
}

footer {
  border-top: solid var(--foreground-secondary) .1rem;
  color: var(--foreground-secondary);
  text-align: left;
  grid-area: footer;
  padding: .5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: var(--foreground-secondary);
}
