@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #D2E8D2;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #182118;
  }
}

:root {
  background: var(--background-color);
}

#root {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  padding: .5rem 0;
  font-family: sans-serif;
}

.partnerNode text, .etc text {
  text-anchor: middle;
}

text.marriageDate {
  text-anchor: end;
}

a.active {
  background: rgba(255, 255, 255, 50%);
}

dialog {
  background: var(--background-color);
}

dialog::backdrop {
  backdrop-filter: blur(1rem);
  background: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  a.active {
    background: rgba(255, 255, 255, 10%);
  }
}

#map, .leaflet-container {
  height: 500px;
  border-radius: 1rem;
}
