#family-tree {
  --male: #9bcfec;
  --female: #ff9494;
  --divers: #d5a3ee;
  --grid-size: 16px;
  margin: 0;
  border-radius: 0;
  grid-area: main;
  width: 100%;
  height: 100%;
}

#family-tree:hover {
  cursor: grab;
}

#family-tree:active {
  cursor: grabbing;
}

#family-tree text {
  fill: var(--foreground);
  font-size: var(--grid-size);
  text-anchor: middle;
  stroke: none;
  user-select: none;
}

.link {
  fill: none;
  stroke: var(--foreground);
  stroke-width: .2rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.etc, .partnerNode *:not(.marriageDate) {
  fill: var(--background-higher);
  text-anchor: middle;
  cursor: pointer;
}

.partnerNode.locked circle {
  cursor: not-allowed;
}

#family-tree .partnerNode .marriageDate {
  text-anchor: end;
}

.infoBackground {
  fill: var(--background);
}

#background {
  fill: transparent;
  stroke: none;
}

@media (prefers-color-scheme: light) {
  #family-tree {
    --male: #9bcfec;
    --female: #ff9494;
    --divers: #d5a3ee;
  }
}

@media (prefers-color-scheme: dark) {
  #family-tree {
    --male: #254579;
    --female: #911c1c;
    --divers: #8d53a4;
    background: black;
  }
}

@media print {
  .person .bg {
    border: solid;
  }

  .person .focused {
    font-weight: bold;
  }
}

/* Person node styles */
.person {
  color: var(--foreground);
  overflow: visible;
  cursor: pointer;
  font-size: var(--grid-size);
  user-select: none;
}

.person p {
  margin: 0;
  text-align: center;
  line-height: 1.25;
}

.person .bg {
  border-radius: 1.125rem;
  border-width: .2rem;
  padding: .5rem .75rem;
  border-color: var(--background-higher);
  background-color: var(--background-higher);
  transition: scale .5s;
}

.person:hover .bg{
  scale: 1.05;
}

.person.female .bg {
  background-color: var(--female);
  border-color: var(--female);
}

.person.female .bg.focused {
  box-shadow: 0 0 1rem var(--female);
}

.person.male .bg {
  background-color: var(--male);
  border-color: var(--male);
}

.person.male .bg.focused {
  box-shadow: 0 0 1rem var(--male);
}

.person.divers .bg {
  background-color: var(--divers);
  border-color: var(--divers);
}

.person.divers .bg.focused {
  box-shadow: 0 0 1rem var(--divers);
}

.person.dead .bg {
  border-radius: 1.525rem;
  border-style: solid;
  background-color: var(--background);
}

/*View option styles*/
#view-all {
  display: flex;
  position: absolute;
  background: none;
  align-items: baseline;
  max-width: 100vw;
  overflow-x: auto;
}

#view-all > * {
  margin-left: 1rem;
}
